# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: ocean_view_resort_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Initialize Database
      run: |
        until mysqladmin ping -h 127.0.0.1 --silent; do
          echo "Waiting for MySQL..."
          sleep 2
        done
        mysql -h 127.0.0.1 -u root -proot ocean_view_resort_db < database/ocean_view_resort.sql
    
    - name: Build with Maven
      run: |
        mvn -B package \
        -Ddb.url="jdbc:mysql://127.0.0.1:3306/ocean_view_resort_db?useSSL=false" \
        -Ddb.user="root" \
        -Ddb.password="root" \
        --file pom.xml
      env:
        DB_URL: jdbc:mysql://127.0.0.1:3306/ocean_view_resort_db?useSSL=false
        DB_USER: root
        DB_PASSWORD: root

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6

    - name: Upload WAR file for deployment
      uses: actions/upload-artifact@v4
      with:
        name: ocean-view-resort-war
        path: target/*.war
